

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.popular-breeds{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-weight:lighter;
  color:rgb(113, 124, 94);
}

.hrefs{
  display:flex;
  justify-content: space-around;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
  height:100px;
  align-items: center;
  margin-bottom:50px;
}
.hrefs a{
  background-color:plum;
  height:60px;
  width:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:beige;
  text-decoration: none;
  font-size:large;
  font-weight:800;
  font-family: cursive;
  border-radius:20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}
.hrefs a:hover{
  color:#f7a9f8;
  transition: all 0.3s ease-in-out;
  background-color: rgb(172, 113, 157);
  height:65px;
  width:153px;
}
.main-App{
  background-color:bisque;
}

.pet-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-content:center ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height:max-content;

}
.pet-card-each-wrapper{
  display:flex;
  justify-content: space-evenly;
  margin:20px;
}

.pet-texts {
  /* overflow-y: auto; */
  padding: 10px;
  font-family: math;
  color: rgb(201, 168, 125);
  font-weight: bolder;
}

.main-title,
.welcome{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "Matemasie", sans-serif;
  color:rgb(189, 140, 189);
}
.dog-wrapper{
  margin-top:50px;
}
.pictures {
  height: 220px;
  width: 250px;
  border-radius: 20px;
  object-fit: cover;
}
.card-wrapper {
  position: relative;
  height: 280px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: visible; /* allow the description card to overflow */
}


.pet-details {
  position: absolute;
  top: 0;
  left: 70px; /* move it to the left initially, outside the main wrapper */
  width: 250px;
  height: 300px;
  padding: 20px;
  color:#6c606c;
  background-color:#f5cdef;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out; /* transition effect */
  opacity: 0; /* hide the description card initially */
  pointer-events: none; /* disable pointer events initially */
}
.pet-details p{
  font-size:larger;
  font-weight:bold;
  font-family:cursive;
}

.card-wrapper:hover .pet-details {
  transform: translateX(200px); /* move it to the right on hover */
  opacity: 1; /* show the description card on hover */
  pointer-events: auto; /* enable pointer events on hover */
}
.cats-title,
.dogs-title {
  height:200px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  color:rgb(113, 124, 94);
}

.pet-card-each-wrapper:nth-child(even) .pet-details {
  left: auto;
  right: 0;
}

.pet-card-each-wrapper:nth-child(even) .card-wrapper:hover .pet-details {
  transform: translateX(-93%);
}
.breed-name{
  display: flex;
  justify-content: center;
  align-items: center;
  color:plum;
  font-family: "Macondo", cursive;
  font-weight:bolder;
  font-style: normal;
}


.donate-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color:#f7a9f8;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.donate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: bisque;
}

.donate-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.donate-txt-btn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate-txt-btn p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
  font-family: cursive;
  color:rgb(124, 114, 125);
}
.donate-txt-btn h1{
  color:rgb(99, 71, 125);
}

.donate-txt-btn button {
  background-color:#f7a9f8;
  color:#987b94;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  font-weight:bolder;
}

.donate-txt-btn button:active {
  background-color:#e167e3;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: bisque;
}

.about-us-content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color:plum;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color:bisque;
}

.about-us-content h1 {
  color: bisque;
  margin-bottom: 20px;
}

.about-us-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
  font-family: cursive;
  font-weight: bolder;
}

.about-us-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.stat {
  flex: 1;
  margin: 20px;
  text-align: center;
}

.stat h2 {
  font-size: 36px;
  color: rgb(124, 114, 125);
  margin-bottom: 10px;
}

.stat p {
  font-size: 18px;
  color: #666;
}
.welcome{
  margin-bottom:100px;
}
.browse h1,h2{
  font-family: "Nerko One", cursive;
  color:#e572e7;
  margin-bottom: 50px;
}
.browse h2{
  width:450px;
  font-weight:lighter;
 
}
.browse-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-us{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:100px;
  margin-bottom:140px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 90px;
}
.happy{
  border-radius: 50px;
  height:400px;
  width:500px;
}

.footer {
  background-color: bisque;
  padding: 30px 0;
  color: #666; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);

}

.footer > .container {
  display: flex; 
  flex-wrap: wrap;
  gap:70px; 
}

.footer-section {
  margin: 0 20px; 
  gap:20px;
}
.footer-section li{
  font-size:20px;
  color:#ed93ef;
  font-weight:bolder;
  font-family:cursive;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size:30px;
  display: flex;
  justify-content: center;
  color:#e885ea;
  font-family: "Nerko One", cursive;
}

.footer-link {
  color: #666; 
  text-decoration: none;
}

.footer-link:hover {
  color: #333; 
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-bottom: 10px;
}

.social-links i {
  font-size: 18px;
  margin-right: 10px;
  color: #666;
}

.social-links i:hover {
  color: #333; 
}

.footer-copyright {
  font-size: 14px;
  color: #999; 
  margin-top: 20px;
  text-align: center; 
}
.browse-pets{
  color:#e885ea;
  font-family: "Nerko One", cursive;
  margin-bottom:100px;
}

.cart-wishlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}

.cart,
.breed-name,
.heart {
  display: inline-block;
  vertical-align: middle;
}

.cart {
  font-size: 24px;
  margin-right: 10px;
}

.breed-name {
  flex: 1;
  text-align: center;
  font-size: 18px;
  margin: 0 10px;
}

.heart {
  font-size: 24px;
  margin-left: 10px;
}

.cart-wishlist button {
  background-color: rgb(254, 233, 208);
  border: 1px solid rgb(220, 208, 208);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width:40px;
}

.cart-wishlist button:hover {
  background-color: rgb(245, 223, 193);
}

.cart-wishlist button:active {
  background-color: rgb(235, 213, 178);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart-wishlist button .cart {
  font-size: 18px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  width: 20px;
  margin-left: 2px;
}

.cart-wishlist button .heart {
  font-size: 18px;
  margin-left: 2px;
  display: inline-block;
  text-align: center;
  width: 20px;
  margin-right:8px;
}

